* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas {
    display: block;
}

body{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    overflow: hidden
 }
 /* 禁止移动端下拉上滑白边及下拉刷新 */